.mainNavbar{
    display: flex;
    justify-content: center;
    align-self: center;
}

.mainNavbar img{
    width: 100px;
}

.mainNavbar>div{
    margin-right: 20px;
}

.btn{
    width:120px;
    height:50px;
    border:none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
}

/* rgb(211, 130, 25); */