.mainNavbar{
    display: flex;
    justify-content: center;
    align-self: center;
}

.mainNavbar img{
    width: 100px;
}

.mainNavbar>div{
    margin-right: 20px;
}

.btn{
    width:120px;
    height:50px;
    border:none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
}

.dataresult{
    position: absolute;
    z-index: 2;
    margin-top: 5px;
    width: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
  }

.dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.dataItem p {
    margin-left: 10px;
}

.dataItem:hover {
    background-color: lightgrey;
}

/* rgb(211, 130, 25); */